.one
{
    background-image: url(bg1.jpg);
    height: 400px;
    text-align: center;
}
.one_h
{
    color: white;
    font-size: 40px;
    padding-top: 100px;
}
.one_btn
{
    background-color: transparent;

}
.one_btn_p
{
    color: white;
    cursor: pointer;
    border: 1px;
}
h4
{
    text-align: center;
}
hr
{
    width: 400px;
    height: 2px;
    color: grey;
}
.two_card
{
    display: flex;
    orientation: row;
    margin-left: 20px;
}

.card1
{
    margin-left: 50px;
}
.p_card
{
    width: 350px;
}

.three
{
    background-image: url(bg2.jpg);
    height: 300px;
    text-align: center;
}

.three_p
{
    color: white;
    font-size: 25px;
    padding-top: 50px;
}

.fc_1
{
   
    margin-left: 100px;
    display: flex;
    orientation: row;
}
.c1
{
    margin-left: 100px;
}
.c1_txt
{
    display: flex;
    orientation: row;
}

.fc_2
{
   
    margin-left: 100px;
    display: flex;
    orientation: row;
}


